

 body, html{
    width:100%;
    height: 100%;
    font-family: 'Oxygen', sans-serif;
    background-image: no-repeat;
    background-image:url(../image/bookcase.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    
}

.container{
    width: auto;
    height: auto;  
    background-color: rgb(71, 66, 66,0.4);
    margin-top: -25px;

}

hr{
   width: 100%;
   color: rgb(32, 240, 229);
}

input,
input::-webkit-input-placeholder {
   font-size: 11px;
   padding-top: 3px;
}

.main-center{
    margin: 0 auto;
    max-width: 500px;
    padding: 40px 40px;

}

.login-button{
   margin-top: 5px;
}

.login-register{
   font-size: 11px;
   text-align: center;
}

.sign{
    text-align: center;
}
.text-primary{
    color: rgb(248, 250, 248);
}

.male,.female{
    color:white;
    padding: 2px;
}

.gender {
    color: white;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid aqua;
    margin: 1em 0;
    padding: 0; 
}

h6 { 
    width:100%; 
    text-align:center; 
    border-bottom: 1px solid aqua; 
    line-height:0.1em; 
    margin:10px 0 20px; 
} 
h6 span { 
    background:#fff; 
    padding:0px 10px; }
